@body-bg: #848b93;
@form-bg: rgba(0, 0, 0, 0.6);
@blue: #2f80ed;
@input-bg: rgba(55, 55, 55, 0.55);
@white: #fff;
@logo-color: #BDBDBD;
@text-green: #68bb8c;
@text-danger: #EB5757;
@black: #000;

.text-danger {
  color: @text-danger;
}

.warning {
  color: @text-danger;
}

.error-msg {
  font-size: 12px;
}

.success {
  color: @text-green;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('/img/bg.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.21);
  z-index: 3;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  opacity: 0.7;
  background-image: url('/img/bg.png');
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-image: url('/img/image.png');
  opacity: 0.6;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  div {
    background-image: url('/img/background.png');
    filter: blur(5px);
    transform: scale(1.1);
    width: 100%;
    height: 100%;
  }
}

.btn-primary {
  background-color: @blue;
  &:disabled {
    //background: transparent;
    //border: 1px solid #333333;
    //color: #292929;
    text-transform: uppercase;
  }
}

.auth-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 5;

  h1 {
    color: @logo-color;
    font-weight: 500;
    span {
      font-weight: 900;
    }
  }

  .form-signin {
    text-align: center;
    @media only screen and (min-width: 450px) {
      background-color: @form-bg;
      //background: rgba(0,0,0,0.44);
    }

    padding: 45px 35px;
    color: @white;
    border-radius: 5px;
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    color: @logo-color;
    + .caption {
      font-size: 12px;
      color: #BDBDBD;
    }
  }

  .btn {
    max-width: 250px;
    border-radius: 20px;
    text-transform: uppercase !important;
    &.busy {
      position: relative;
      &:after {
        content: '';
        .loader;
        display: inline-block;
        position: absolute;
        top: 9px;
        right: 7px;
      }
    }
  }

  .btn-restore {
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    transition: all 0.1s ease-in;
    color: #b2b3b3;
    font-size: 14px;
    &:hover {
      color: @white !important;
      text-decoration: none;
    }
  }

  .input-layer {
    border-radius: 50px;
    background-color: @input-bg;
    padding: 0 0 0 50px;
    max-width: 250px;
    margin: 0 auto;
    border: 1px solid transparent;
  }
  .email {
    .input-layer;
    position: relative;
    &:before {
      position: absolute;
      left: 18px;
      top: 15px;
      width: 14px;
      height: 14px;
      background-image: url('/img/email-icon.png?v=1');
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      content: '';
      z-index: 2;
    }
  }

  .password {
    .input-layer;
    position: relative;
    &:before {
      position: absolute;
      left: 22px;
      top: 14px;
      width: 14px;
      height: 14px;
      background-image: url('/img/password-icon.png');
      background-size: contain;
      display: block;
      z-index: 2;
      content: '';
    }
  }

}

.form-signin .checkbox {
  font-weight: 400;
}

.error {
  .email, .password {
    border-color: @text-danger;
  }
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 8px 10px 8px 0px;
  font-size: 16px;
  background: none;
  color: @white;
  border: none;
  &:focus, &:active {
    box-shadow: none;
    outline: none;
  }

}

.flex {
  display: flex;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.recovery-block {
  border-right: 1px solid #373839;
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[v-cloak] {
  display: none;
}

.logo {
  width: 182px;
  height: 32px;
  background-image: url('/img/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  margin: 10px auto 50px auto;
  @media only screen and (max-width: 450px) {
    margin: 10px auto 0px auto;
  }

}